<h1>Pedidos</h1>
<p-menubar [model]="tools" />

<p-table #dt [value]="orders" dataKey="id" rowHover="true" [loading]="loading" selectionMode="single" [(selection)]="selected" >
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="date">
                <div class="flex justify-content-between align-items-center">
                    Data
                    <p-sortIcon field="date" />
                </div>
            </th>
            <th pSortableColumn="customer">
                <div class="flex justify-content-between align-items-center">
                    Cliente
                    <p-sortIcon field="customer" />
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr [pSelectableRow]="order">
            <td>
                <span class="p-column-title">Data</span>
                {{ order.date | date : 'dd/MM/yyyy hh:mm' }}
            </td>
            <td>
                <span class="p-column-title">Cliente</span>
                {{ order.customer.name }}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">Nenhum registro encontrado</td>
        </tr>
    </ng-template>
</p-table>