<div>
    <a href="/customers" class="btn"><i class="bi bi-search"></i></a>
    <a href="/customers/new" class="btn"><i class="bi bi-plus-lg"></i></a>
</div>

<p-card header="Clientes">
    <p-table [value]="customers">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Cidade</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{customer.name}}</td>
                <td>{{customer.telephone}}</td>
                <td>{{customer.address.city}}</td>
                <td>
                    <p-button icon="pi pi-pencil" severity="secondary" (click)="editCustomer(customer.id)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>