<p-panel header="{{pageTitle}}">
    <div>
        <p-fieldset legend="Dados Pessoais">
            <div class="mt-3">
                <p-floatLabel>
                    <input pInputText id="name" [(ngModel)]="customer.name" />
                    <label for="name">Nome</label>
                </p-floatLabel>
            </div>
            
            <div class="mt-5">
                <p-floatLabel>
                    <p-inputMask mask="99 99999-9999" [(ngModel)]="customer.telephone" />
                    <label for="telephone">Telefone</label>
                </p-floatLabel>
            </div>
        </p-fieldset>
    </div>

    <div class="mt-3">
        <p-fieldset legend="Endereço">
            <div class="mt-3">
                <p-floatLabel>
                    <input pInputText id="street" [(ngModel)]="customer.address.street" />
                    <label for="street">Rua</label>
                </p-floatLabel>
            </div>

            <div class="mt-5">
                <p-floatLabel>
                    <p-inputNumber [(ngModel)]="customer.address.number" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" />
                    <label for="number">Número</label>
                </p-floatLabel>
            </div>
            <div class="mt-5">
                <p-floatLabel>
                    <input pInputText id="district" [(ngModel)]="customer.address.district" />
                    <label for="district">Bairro</label>
                </p-floatLabel>
            </div>
            <div class="mt-5">        
                <p-floatLabel>
                    <input pInputText id="city" [(ngModel)]="customer.address.city" />
                    <label for="city">Município</label>
                </p-floatLabel>
            </div>
        </p-fieldset>
    </div>

    <ng-template pTemplate="footer">
        <div class="mt-3">
            <p-button class="mr-2" label="Salvar" severity="primary" (click)="save()" />
            <p-button label="Cancelar" severity="secondary" (click)="cancel()" />
        </div>
    </ng-template>
</p-panel>